.container {
  position: relative;
}

.overlay-button {
  position: absolute;
  z-index: 9999;
  background-color: darkgreen;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin-top: 50px;
}
